# Core Django & API
Django==5.0.4
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.1

# Real-time (WebSockets)
channels==4.0.0
daphne==4.1.2
channels-redis==4.2.1

# Production Server & Database
psycopg2-binary==2.9.9
dj-database-url==2.1.0
gunicorn==21.2.0

# Utilities
python-dotenv==1.0.1
whitenoise==6.6.0
asgiref==3.8.1
